@import url();

:root{
    --blue:#9ab3f5;
    --purple:#ff004f;
    --white:#fff;
    --shadow: rgba(0,0,0, 0.15) 0px 5px 15px 0px;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  /* font-family: 'Roboto Slab', serif; */
  scroll-behavior: smooth;
  background-color: #080808;
  background: #fff;
  /* color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;

  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}
.main-contain{
    /* margin-top: 5%; */
    width: 100%;
    height: 20vh;
    /* color: white; */
}

.searching{
    /* outline: auto; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 100vh; */
    /* background-color: var(--blue); */
}
.search-bar{
    display:flex ;
    /* outline: auto; */
    border: 2px solid #3f0d1d2f;
    background-color: #867e7e4b;
    align-items: center;
    min-width: 700px;
    border-radius: 50px ;
    background-color: var(--white);
}
.dropdown{
    position: relative;
    width: 280px;
    background-color: var(--purple);
    border-radius: 30px;
    border: 1px solid var(--white);
    box-shadow: var(--shadow);
    cursor: pointer;
}
.dropdown-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    padding: 1rem 1.5rem;
}
.dropdown-list{
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    max-height: 0;
    overflow: hidden;
    background-color: var(--white);
    transition: max-height 0.5s;
}
/* the js */
#list.show {
    max-height: 300px;
}

.dropdown-list-item{
    font-size: 0.9rem;
    font-weight: 500;
    padding: 1rem 0 1rem 1.5rem;
    transition: margin-left 0.3s ease, color 0.3s ease;
    cursor: pointer;
}
.dropdown-list-item:hover{
    margin-left: 0.5rem;
    color: var(--purple);
}
.search-box{
    /* outline: auto; */
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    /* color: var(--purple); */
}
.search-box input{
  /* background-color: #867e7e4b; */
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    border: 0;
    outline: 0;
    color: var(--purple);
}
.search-box i{
    font-size: 1.3rem;
    cursor: pointer;
}
.search-box input::placeholder{
    /* outline: auto; */
    font-size: 1rem;
    font-weight: 500;
    /* color: var(--purple); */
}



#header{
    /* outline: auto; */
    /* width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8), rgba(0,0,50,0.8)), url(img/hotelBG.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    
}


  /*--------------room grid--------*/
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  
  
  /*--------------room grid--------*/

  /*--------------room--------*/
.flex1 {
    display: flex;
    justify-content: space-between;
  }
  .room{
    /* outline: auto; */
    margin-top: -5%;
    }
  .room .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .room img {
    width: 100%;
    height: 100%;
  }
  
  .room .box {
    box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);
  }
  
  .room .text {
    padding: 20px;
  }
  
  .room h3 {
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .room p span {
    font-size: 12px;
    color: grey;
  }
  
  .room p {
    font-size: 20px;
  }
  /* .btn1{
    /* outline: auto; 
    padding: 20px 40px;
    background: #ff004f;
    outline: none;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    margin-bottom: 20px;
    } */
  /*--------------room--------*/


